*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
  }
  .main-container{
    display: flex;
  }
  
  main{
    padding: 20px;
  }
  .sidebar{
    background: rgb(0,7,61);
    color: white;
    height: 100vh;
  }
  
  .routes{
    color: white;
  }
  
  .top_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
  }
  
  .logo{
    font-size: 20px;
    line-height: 0;
  }
  
  .link{
    display: flex;
    color: white;
    gap: 10px;
    padding: 5px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .link:hover{
    border-right: 4px solid white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgb(45, 51, 89);
  }
  
  .active{
    border-right: 4px solid white;
    background: rgb(45, 51, 89);
  }
  
  .link-text{
    white-space: nowrap;
    font-size: 15px;
  }