body {
  font: 16px sans-serif;
  margin: 0;
}

.table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: calc(100% - 20px);
  margin: 20px 50px 20px 40px;
}

.table th,
.table td {
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
}

thead>tr:last-child {
  text-align: left;
}

thead>tr:first-child {
  background: #d1fafd;
}

tbody>tr:nth-child(2n-1) {
  background: #f1f1f1;
}

tfoot>tr {
  text-align: center;
  background: #d1fafd;
}

.button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container-setinhas {
  display: inline-block;
  width: 20px;
  height: 40px;
  margin-left: 10px;
  vertical-align: middle;
}

.container-setinhas>div {
  cursor: pointer;
}

.remover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.remover:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.editar {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.editar:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}